<div class="container">
    <div class="row">
        <div class="col titulo d-flex justify-content-center">
            <h2>¿Quienes Somos?</h2>
            <app-modal type="add" crud="Agregar"></app-modal>
            <app-modal type="edit" crud="Editar"></app-modal>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p id="textoQSomos">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste corporis similique quasi provident saepe commodi amet? Soluta iste, facilis laudantium illum reprehenderit magnam nisi vitae molestiae ipsa non beatae id. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quam, velit illum fugiat eligendi tempore possimus dignissimos ducimus sit debitis officia recusandae nisi, cupiditate iusto inventore fuga illo magni eaque?</p>
        </div>
    </div>
    <div class="row">
        <div class="col titulo d-flex justify-content-center">
            <h2>Preguntas Frecuentes</h2>
            <app-modal type="add" crud="Agregar"></app-modal>
            <app-modal type="edit" crud="Editar"></app-modal>
        </div>
    </div>
    <div class="row mb-5"> <!-- aplica un for -->
        <div class="col">
            <!-- TODO: error con el servicio de preguntas, investigar bien-->

            <!-- <app-question [data]="pregunta" *ngFor="let pregunta of preguntas" ></app-question> -->
        </div>
    </div>
</div>