<div class="container">
    <div class="row">
        <div class="col titulo d-flex justify-content-center">
            <h2>¿Quienes Somos?</h2>
            <!-- !Botones de modal - Solo cuando se inicia como Administrador -->
             <!-- ?Contiene para configurar la descripción y preguntas frecuentes -->
            <!-- <div class="modal-crud">
                <app-modal type="add" crud="Agregar" modalTitle="Agregar Información Nueva">
                    <p>Información aqui</p>
                </app-modal>
                <app-modal type="edit" crud="Editar" modalTitle="Editar Información">
                    <p>Información aqui</p>
                </app-modal>
                <app-modal type="cancel" crud="Eliminar" modalTitle="Cual Información Deseas Eliminar?">
                    <p>Información aqui</p>
                </app-modal>
            </div> -->
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p id="textoQSomos">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste corporis similique quasi provident saepe commodi amet? Soluta iste, facilis laudantium illum reprehenderit magnam nisi vitae molestiae ipsa non beatae id. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quam, velit illum fugiat eligendi tempore possimus dignissimos ducimus sit debitis officia recusandae nisi, cupiditate iusto inventore fuga illo magni eaque?</p>
        </div>
    </div>
    <div class="row">
        <div class="col titulo d-flex justify-content-center">
            <h2>Preguntas Frecuentes</h2>
        </div>
    </div>
    <div class="row mb-5"> <!-- aplica un for -->
        <div class="col">
            <app-question></app-question>
        </div>
    </div>
</div>