.container-fluid {
    padding-bottom: 5rem;
}
.titulo {
    margin: 5rem;
}
app-modal {
    display: none;
    margin-left: 2rem;
}
.anuncios-destacados {
    margin-bottom: 2rem;
}
.banner {
    padding: 0;
}