<footer class="row">
    <div class="col-4">
        <h4>Categorias</h4>
        <ul>
            <li>Tazas</li>
            <li>Posters</li>
            <li>Stickers</li>
            <li>Almohadones</li>
        </ul>
    </div>
    <div class="col-4">
        <h4>Preguntas Frecuentes</h4>
        <ul>
            <li>Pregunta X</li>
            <li>Pregunta X</li>
            <li>Pregunta X</li>
            <li>Pregunta X</li>
        </ul>
    </div>
    <div class="col-4">
        <h4>Contacto</h4>
        <ul>
            <li>Adrian Ezequiel López</li>
            <li>@harryplotter22</li>
            <li>+549 2665031680</li>
            <span><i>Scooby Doo me habla de tu y Jimmy Carter tiene caracter</i></span>
        </ul>
    </div>
</footer>