<nav class="navbar navbar-expand-sm d-flex justify-content-center">
    <ul class="navbar-nav text-center">
        <li class="nav-item"> <!-- la clase 'nav-item--active' varia segun la pagina que se este visualizando-->
            <a routerLink="/home-component" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Inicio</a>
        </li>
        <li class="nav-item">
            <a routerLink="/categorias-component" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Categorias</a><!-- dropdown -->
        </li>
        <li class="nav-item">
            <a routerLink="/news-component" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Anuncios</a>
        </li>
        <li class="nav-item">
            <a routerLink="/contact-component" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Contacto</a>
        </li>
        <li class="nav-item">
            <a routerLink="/login-component" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link"><i class="fa-solid fa-user"></i> Cuenta</a><!-- Login -->
        </li>
        <li class="nav-item ">
            <a routerLink="/cart-component" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link"><i class="fa-solid fa-cart-shopping"></i> Carrito</a><!-- Carrito + form -->
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>