<!-- ? Carrito con lista de productos. Se puede eliminar o agregar productos, elegir si paga en efectivo o por mercado pago y si quiere descargar un pdf con la información -->
 
<section class="container">
    <!-- * Aviso para cuando el usuario NO ha iniciado sesión: ngIf="isNotLogged" -->
    <!-- <div class="card-inicio text-center"> 
        <app-titulo texto="Ups... No tienes productos en la lista"></app-titulo>
        <p>Inicia sesión para poder registrar los productos que quieres comprar, gracias!</p>
    </div> -->

    <!-- Lista de productos para comprar (Solo se ve si el usuario inició sesión = ngIf="isLogged") -->
    <div class="card"> 
        <form action="#">
            <h2 class="titulo">Lista de productos</h2>
            <!-- <div class="lista-productos" *ngFor="let item of items">
                <span>{{ item.title }}</span>
                <span>{{ item.price }}</span>
            </div> -->
            <hr>
            <div class="total row">
                <div class="col-10">
                    <h3 class="tituloBold">Total</h3>
                </div>
                <div class="col-2">
                    <h4 class="precio">$ precioTotalAqui</h4>
                </div>
            </div>
            <hr>
            <div class="metodo-pago row">
                <div class="col-9">
                    <h3 class="tituloBold">Formas de pago</h3>
                    <!-- TOAST -> Aviso sobre el pago en efectivo -->
                    <div class="card bg-info">
                        <span class="card-info text-white">La forma de pago en efectivo es haciendo contacto con el vendedor por medio de WhatsApp, para poder confirmar el lugar de venta.</span>
                    </div>
                </div>
                <div class="form-group col-3 d-flex justify-content-around">
                    <div class="form-check">
                        <label class="form-check-label">
                            <!-- Si esta activo este check, le lleva a la api de mercado pago y prosigue solo -->
                            <input type="radio" class="form-check-input" btn-mp checked>Mercado Pago <i class="fa-solid fa-credit-card fa-xl"></i>
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <!-- Si esta activo este check, le lleva a la página con el formulario de facturación (el usuario debe rellenarlo con sus datos)-->
                            <input type="radio" class="form-check-input" btn-cash>En efectivo <i class="fa-solid fa-money-bill fa-xl"></i>
                        </label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group buttons">
                <!-- TODO: Buscar como descargar un pdf con la info mostrada 
                TODO: investigar si MP pide los datos del cliente antes o no -->
                <button class="btn btn-outline-info" type="button" btn-pdf>Descargar PDF</button>
                
                <!-- * Continua dependiendo de los checks anteriores. En efectivo => formulario | mercado pago => api de mercado pago -->
                <button class="btn btn-outline-danger" type="submit" btn-shop><a routerLink="/carrito/formulario" routerLinkActive="active" ariaCurrentWhenActive="page">Continuar compra</a></button>
            </div>
        </form>
    </div>

</section>