<nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
        <a href="#" class="navbar-brand" id="logo"><h1>Harry Plotter</h1></a>
        <form class="form-inline" action="#">
            <input class="form-control mr-sm-2" type="text" placeholder="Buscador">
            <button class="btn btn-danger" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <li class="nav-item">
            <a href="https://www.instagram.com/harryplotter22/" class="nav-link" target="_blank">instagram</a>
        </li>
        <li class="nav-item">
            <a href="https://www.facebook.com/profile.php?id=100063562693172" class="nav-link" target="_blank">facebook</a></li>
        <li class="nav-item">
            <a href="#" class="nav-link" data-toggle="tooltip" title="+54 9 2665031680">whatsapp</a></li>
    </ul>
</nav>

