/* #logo img {
    height: 100px;
} */
nav {
    background-color: var(--colorBG);
}
ul {
    gap: 50px;
}

#logo h1{
    font-family: 'Berkshire Swash', cursive;
    color: #000;
}

.form-inline {
    gap: 20px;
}
.nav-link {
    color: #000;
}
.nav-link:hover {
    color: #DD2200;
}