<header>
    <nav class="navbar d-flex justify-content-around">
        <a href="#" id="logo" class="navbar-brand">
            <!-- <img src="#" alt="Logo de Harry Plotter" class="rounded mx-auto d-block">  ../../../assets/logo_harry-plotter.svg-->
            <h1>Harry Plotter</h1> 
        </a>
        <form class="form-inline" action="#">
            <input class="form-control" type="text" placeholder="Buscador">
            <button title="submit" class="btn btn-danger" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <ul class="navbar-nav navbar-expand-sm d-flex">
            <li class="nav-item">
                <a href="https://www.instagram.com/harryplotter22/" class="nav-link" target="_blank" id="instagram" rel="noopener" title="Instagram"><i class="fa-brands fa-instagram fa-2xl"></i></a>
            </li>
            <li class="nav-item">
                <a href="https://www.facebook.com/profile.php?id=100063562693172" class="nav-link" target="_blank" id="facebook" rel="noopener" title="facebook"><i class="fa-brands fa-facebook fa-2xl"></i></a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" data-toggle="tooltip" title="+54 9 2665031680" id="whatsapp"><i class="fa-brands fa-whatsapp fa-2xl"></i></a>
            </li>
        </ul>
    </nav>
</header>