<section id="home">
    <!-- img del carrousel con descuentos -->
    <app-carrousel></app-carrousel>
    <!-- listado de ultimos productos -->
    <div class="d-flex justify-content-center titulo">
        <app-titulo texto="Ultimos Productos"></app-titulo>
        <!-- <app-modal type="add"></app-modal> -->
    </div>
    <app-card-list></app-card-list>
    <!-- listado de ultimas noticias -->
    <div class="d-flex justify-content-center titulo">
        <app-titulo texto="Anuncios Destacados"></app-titulo>
        <!-- <app-modal type="add"></app-modal> -->
    </div>
    <app-card-list></app-card-list>
</section>