<section id="categorias" class="container-fluid row">

    <article class="col-2">
        <app-categorias></app-categorias>
    </article>
    
    <section class="col-10">
        <div class="d-flex align-items-center justify-content-between">
            <h2>Todos los productos</h2>
            <aside class="btns-modal">
                <!-- !Botones de modal - Solo cuando se inicia como Administrador, no usable para usuarios -->
                <!-- <div class="modal-crud">
                    <app-modal type="add" crud="Agregar" modalTitle="Agregar Producto Nuevo">
                        <p>Producto aqui</p>
                    </app-modal>
                    <app-modal type="edit" crud="Editar" modalTitle="Editar Productos">
                        <p>Producto aqui</p>
                    </app-modal>
                    <app-modal type="cancel" crud="Eliminar" modalTitle="Cual Producto Deseas Eliminar?">
                        <p>Producto aqui</p>
                    </app-modal>
                </div> -->
            </aside>
            <i class="fa-solid fa-bars fa-2xl"></i> <!-- TODO: Aun no esta hecha la logica para que cambie entre vista de viñeta/lista -->
        </div>
        <div>
            <app-breadcrumb section="Categorias"></app-breadcrumb>
            <app-card-list></app-card-list>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <!-- <app-pagination></app-pagination> --> <!-- TODO: La paginacion aun no tiene la logica terminada -->
            </div>
        </div>
    </section>

</section>