input:focus {
    box-shadow: 0px 0px 3px 3px var(--colorSecundario);
    border: 1px solid var(--colorPrincipal);
}
.form-inline {
    gap: 20px;
}
img {
    width: 100%;
}
span {
    font-size: smaller;
}