<div id="carousel" class="carousel slide" data-ride="carousel">
    <!-- indicadores-->
    <ul class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ul>
    <!-- imagenes -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../../assets/banner-image.webp" alt="Imagen slide 1" class="carousel-img"/>
        </div>
        <div class="carousel-item">
            <img src="../../../../assets/banner-image.webp" alt="Imagen slide 2" class="carousel-img"/>
        </div>
        <div class="carousel-item">
            <img src="../../../../assets/banner-image.webp" alt="Imagen slide 3" class="carousel-img"/>
        </div>
    </div>
    <!-- controles izquierda-derecha -->
    <a href="#carousel" class="carousel-control-prev" title="izquierda" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a href="#carousel" class="carousel-control-next" title="derecha" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>