<div class="col-2">
    <div class="card">
        <div class="card-header">
            <img class="img-thumbnail" src="#" alt="Imagen del producto">
        </div>
        <div class="card-body">
            <h6 class="card-title">Nombre del Producto</h6>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, deserunt blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, deserunt blanditiis.</p>
            <button class="btn btn-danger">Ver</button>
        </div>
    </div>
</div>