<div class="container">
  <app-breadcrumb></app-breadcrumb>

  @if (currentAnuncio) {
    <section class="mt-3 d-flex flex-column">
      <h1 class="titulo">{{currentAnuncio.title}}</h1>
      <span class="mb-3">Autor: {{currentAnuncio.autor}} - Fecha de publicación: {{currentAnuncio.fecha}}</span>
      <img
        class="imagen img-thumbnail mb-3"
        src="{{currentAnuncio.image}}"
        alt="{{currentAnuncio.altImage}}"
      />
      <span class="mb-3"
        >Descripcion de la imagen: {{currentAnuncio.altImage}}</span
      >
      <p class="descripcion">
        {{currentAnuncio.description}}
      </p>
    </section>
    <aside class="ultimas-noticias mb-4">
      <h2 class="titulo-un text-center">Ultimas noticias</h2>
      <hr />
      <div class="row">
        <!-- listado de ultimas noticias -->
      </div>
    </aside>
  } @else {
    loaderComponent;
  }
</div>
