<section class="container">
    <div class="card">
        <div class="header-form">
            <div class="card-header--active col-6">Ingreso</div>
            <div class="card-header col-6">Registrarse</div>
        </div>
        <div class="card-body">
            <form action="#" data-form>
                <label for="usuario">Usuario</label>
                <input type="text" placeholder="alb_laura" data-user>
                <label for="psw">Contraseña</label>
                <input type="password" placeholder="********" data-pwd>
                <div class="form-buttons">
                    <button type="button" class="btn btn-primary" data-back>Volver</button>
                    <button type="submit" class="btn btn-danger" data-login>Iniciar Sesion</button>
                </div>
            </form>
            <div class="card-info">
                <a href="#">¿Olvidaste tu contraseña?</a>
                <a href="#">¿Olvidaste tu usuario?</a>
                <a href="#">Inicia Sesion con una Red Social</a>
            </div>
        </div>
    </div>
</section>