<div class="container">
    <div class="row">
        <div class="col text-center titulo">
            <h1>¿Quienes Somos?</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p id="textoQSomos">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste corporis similique quasi provident saepe commodi amet? Soluta iste, facilis laudantium illum reprehenderit magnam nisi vitae molestiae ipsa non beatae id. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quam, velit illum fugiat eligendi tempore possimus dignissimos ducimus sit debitis officia recusandae nisi, cupiditate iusto inventore fuga illo magni eaque?</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center titulo">
            <h1>Preguntas Frecuentes</h1>
        </div>
    </div>
    <div class="row mb-5"> <!-- aplica un for -->
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="card-title d-flex justify-content-between">
                        <h4>Pregunta 1</h4>   
                        <i class="fa-solid fa-chevron-down fa-2xl"></i>
                    </div>
                </div>
                <div class="card-body"> <!-- Collapse -->
                    <div class="card-text">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut quaerat ipsam, corporis maiores ullam, tenetur quis voluptatem consectetur sapiente, reprehenderit fuga laborum delectus est sequi architecto. Ducimus quos voluptates voluptatem?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>