<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>¿Quienes Somos?</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste corporis similique quasi provident saepe commodi amet? Soluta iste, facilis laudantium illum reprehenderit magnam nisi vitae molestiae ipsa non beatae id. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quam, velit illum fugiat eligendi tempore possimus dignissimos ducimus sit debitis officia recusandae nisi, cupiditate iusto inventore fuga illo magni eaque?</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h1>Enviame un mensaje!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form action="#" class="card">
                <label for="nombre">Tu nombre</label>
                <input type="text" placeholder="Laura">
                <label for="asunto">Asunto</label>
                <input type="text" placeholder="Consulta - ...">
                <label for="mensaje"></label>
                <textarea name="mensaje" id="mensaje" cols="30" rows="10"></textarea>
                <button type="submit" class="btn btn-danger">Enviar Consulta</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h1>Preguntas Frecuentes</h1>
        </div>
    </div>
    <div class="row"> <!-- aplica un for -->
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="card-title"><h4>Pregunta 1</h4></div>
                </div>
                <div class="card-body"> <!-- Collapse -->
                    <div class="card-text">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut quaerat ipsam, corporis maiores ullam, tenetur quis voluptatem consectetur sapiente, reprehenderit fuga laborum delectus est sequi architecto. Ducimus quos voluptates voluptatem?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>