<div class="col-12">
    <h3 class="text-center">Categorias disponibles</h3>
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            Tazas
            <span class="badge badge-danger badge-pill">12</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            Posters
            <span class="badge badge-danger badge-pill">12</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            Almohadones
            <span class="badge badge-danger badge-pill">12</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            Stickers
            <span class="badge badge-danger badge-pill">12</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            Combos
            <span class="badge badge-danger badge-pill">12</span>
        </a>
    </div>
</div>