<div class="col-12">
    <h3 class="text-center">Categorias disponibles</h3>
    <div id="accordion">

        <div class="list-group">
            <div href="#" class="list-group-item list-group-item-action" data-toggle="collapse" href="#collapseOne">
                <a href="#">Tazas </a><span class="badge badge-secondary">12</span> <!-- Categorias -->
            </div>
            <div class="list-group collapse" id="collapseOne" data-parent="#accordion">
                <div class="list-group-item list-group-item-action list-group-item-secondary">
                    <a href="#">Vidrio </a> <span class="badge badge-light">12</span> <!-- Subcategorias -->
                </div>
            </div>
        </div>

    </div>
</div>