<!-- *Se trata de un menu donde se "filtran" los productos por categorias -->
<div class="col-12">
    <h4 class="mb-4 text-center">Categorias</h4>
    <div id="accordion">
        <!-- Contiene un titulo y un numero con la cantidad de productos disponibles -->
        <div class="list-group">
            <!-- Categorias -->
            <div href="#" class="list-group-item list-group-item-action" data-toggle="collapse" href="#collapseOne">
                <a href="#">Tazas </a><span class="badge badge-secondary">12</span> 
            </div>
            <!-- Subcategorias -->
            <div class="list-group collapse" id="collapseOne" data-parent="#accordion">
                <div class="list-group-item list-group-item-action list-group-item-secondary">
                    <a href="#">Vidrio </a> <span class="badge badge-light">12</span>
                </div>
            </div>
        </div>
    </div>
</div>