<div class="card">
    <div class="card-header">
        <img class="img-thumbnail" src="../../../assets/console.png" alt="Imagen del producto">
    </div>
    <div class="card-body text-center border border-top-0">
        <h6 class="card-title">Invitacion al festival del dia de maniana con amigos y familia</h6>
        <div class="d-flex justify-content-around">
            <span class="fecha">DD/MM/AAAA</span>
            <button class="btn btn-danger"><a routerLink="/new-page-component" routerLinkActive="active" ariaCurrentWhenActive="page">Ver anuncio</a></button>
        </div>
    </div>
</div>