.container {
    margin-top: 80px;
}
.form-control {
    width: 100%;
    box-shadow: 5px 5px 15px rgba(255, 0, 0, 0.398);
    border: none;
    padding: 1.5rem;
}
.form-group label {
    font-size: 1.3rem;
    margin-bottom: 0;
}
.card {
    height: 80%;
    width: 60%;
}
.card-body, [data-form] {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
[data-form] {
    flex-grow: 2;
}
.card-info {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-grow: 1;
}
.form-buttons {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}
.btn {
    padding: .5rem 2rem;
    font-size: 1.2rem;
}
.card-header {
    padding: 0;
}
.card-header, .button-header{
    background-color: var(--colorBG);
    color: var(--colorPrincipal);
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    border: none;
    cursor: default;
}
.button-header {
    border: none;
    padding:2%;
}
.--active {
    background-color: var(--colorPrincipal);
    color: var(--colorBG);
}
.--active:hover {
    background-color: var(--color-hover);
    cursor: pointer;
}