<!-- ? Formulario de login y registro -->
<section class="container d-flex justify-content-center">
    <div class="card">
        <div class="card-header d-flex">
            <!-- --active varia segun el click del usuario -->
            <button type="button" id="ingreso" class="button-header --active flex-fill">Ingreso</button>
            <button type="button" id="registrarse" class="button-header flex-fill">Registrarse</button>
        </div>
        <!-- card para iniciar sesion -->
        <form action="#" data-form class="card-body" hidden>
            <div class="form-group">
                <label for="usuario">Usuario</label>
                <input class="form-control" type="text" placeholder="alb_laura" data-user>
            </div>
            <div class="form-group">
                <label for="psw">Contraseña</label>
                <input class="form-control" type="password" placeholder="********" data-pwd> 
            </div>
            <div class="form-buttons">
                <button type="button" class="btn btn-primary" data-back>Volver</button>
                <button type="submit" class="btn btn-danger" data-login>Iniciar Sesion</button>
            </div>
        </form>
        <section class="card-info" hidden>
            <a href="#">¿Olvidaste tu contraseña?</a>
            <a href="#">¿Olvidaste tu usuario?</a>
            <a href="#">Inicia Sesion con una Red Social</a>
        </section>
        <!-- card para registrarse -->
        <form action="#" data-form class="card-body">
            <div class="form-group">
                <label for="usuario">Nombre completo</label>
                <input class="form-control" type="text" placeholder="Laura Albornoz" data-name>
            </div>
            <div class="form-group">
                <label for="usuario">Usuario</label>
                <input class="form-control" type="text" placeholder="alb_laura" data-user>
            </div>
            <div class="form-group">
                <label for="psw">Email</label>
                <input class="form-control" type="password" placeholder="emailprueba@gmail.com" data-email>
            </div>
            <div class="form-group">
                <label for="psw">Contraseña</label>
                <input class="form-control" type="password" placeholder="********" data-pwd> 
            </div>
            <div class="form-buttons">
                <button type="button" class="btn btn-primary" data-back>Volver</button>
                <button type="submit" class="btn btn-danger" data-login>Iniciar Sesion</button>
            </div>
        </form>
    </div>
</section>