.form-inline {
    background-color: var(--colorPrincipal);
    padding: 1rem;
    border-radius: 10px;
}
.titulo {
    color: white;
    font-weight: 700;
    margin: 0;
}
.question {
    background-color: white;
    border-radius: 15px;
    border: solid 2px var(--colorPrincipal);
    margin-bottom: .3rem;
}
.respuesta {
    margin: 1rem;
    font-size: 1.2rem;
}