<!-- Card normal -->
<div class="card">
    <div class="card-header d-flex justify-content-center">
        <img class="img-thumbnail imagen" src="../../../assets/banner-image.png" alt="Imagen del producto">
    </div>
    <div class="card-body">
        <h6 class="card-title">Nombre del Producto</h6>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, deserunt blanditiis.</p>
        <div class="d-flex justify-content-between">
            <span class="precio">$5000</span>
            <button class="btn btn-danger"><a routerLink="/producto-page-component" routerLinkActive="active" ariaCurrentWhenActive="page">Comprar</a></button>
        </div>
    </div>
</div>
<!-- Card list -->
<!-- <div class="card">
    <div class="card-body">
        <img class="img-thumbnail" src="#" alt="Imagen del producto">
        <h6 class="card-title text-center">Nombre del Producto</h6>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, deserunt blanditiis.</p>
        <div class="d-flex justify-content-between">
            <span>$$$$</span>
            <button class="btn btn-danger">Comprar</button>
        </div>
    </div>
</div> -->