<section class="row d-flex justify-content-around">
    <div id="logo" class="col-3 d-flex flex-column align-content-center justify-content-center">
        <img src="../../../assets/logo_harry-plotter.svg" alt="Logo de Harry Plotter" class="logo-empresa">
        <h1 class="text-center">Harry Plotter</h1>
        
    </div>
    <div class="col-2 d-flex flex-column align-content-center justify-content-center menu">
        <ul class="navbar-nav">
            <li><app-titulo-h2 texto="Categorias" type="white"></app-titulo-h2></li>
            <li class="nav-item"><a routerLink="/categorias-component" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Tazas</a></li>
            <li class="nav-item"><a routerLink="/categorias-component" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Posters</a></li>
            <li class="nav-item"><a routerLink="/categorias-component" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Stickers</a></li>
            <li class="nav-item"><a routerLink="/categorias-component" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Almohadones</a></li>
        </ul>
    </div>
    <address class="col-5 mt-4">
        <app-form-contact></app-form-contact>
    </address>
</section>
<section class="row text-center">
    <span class="col-12 frase">" Scooby Doo me habla de tu y Jimmy Carter tiene caracter "</span>
</section>
<div class="row text-center author">
    <span class="col">Derechos reservados @ {{anio}} - HarryPlotter</span>
    
</div>