section {
    background-color: var(--colorPrincipal);
    color: white;
}

#logo h1{
    font-family: 'Berkshire Swash', cursive;
    color: white;
}
.nav-link {
    display:inline-block;
    color: var(--colorBG);
}
.nav-link:hover {
    border-bottom: 3px solid white;
}
.row{
    margin: 0;
}
.btn-light {
    color: var(--colorPrincipal);
}

.logo-empresa {
    height: 200px;
}
.frase {
    font-size: 1.5rem;
    padding: 1rem 0rem;
    font-style: italic;
}
.author {
    background-color: #F5F5F5;
    font-size: 1rem;
    padding: 1rem 0rem;
}
