<!-- Visualizacion del producto/noticia en formato cuadricula -->
<div class="card mb-2" *ngIf="data">
    <img class="card-img-top" src="{{data.image}}" alt="Imagen del producto">
    <div class="card-body">
        <div class="card-info mb-2">
            <h6 class="card-title">{{data.title}}</h6>
            <app-badge-tazas [category]="data.category"></app-badge-tazas>
            <p class="card-text text-justify mt-2">{{data.description}}</p>
        </div>
        <div class="card-items d-flex justify-content-between">
            <span class="precio">$ {{data.price}}</span>
            <app-button colorButton="danger" routerLink="/home/producto-detalle/{{data.id}}" routerLinkActive="active" ariaActive="page" textButton="Ver producto"></app-button>
        </div>
    </div>
</div>

<!-- Ultima noticia - card -->
<!--
    <div class="card">
    <div class="card-header">
        <img class="img-thumbnail" src="../../../assets/console.png" alt="Imagen del producto">
    </div>
    <div class="card-body text-center border border-top-0">
        <h6 class="card-title">Invitacion al festival del dia de maniana con amigos y familia</h6>
        <div class="d-flex justify-content-around">
            <span class="fecha">DD/MM/AAAA</span>
            <button class="btn btn-danger"><a routerLink="/new-page-component" routerLinkActive="active" ariaCurrentWhenActive="page">Ver anuncio</a></button>
        </div>
    </div>
</div> -->

<!-- Ultimo producto - card -->
<!-- <div class="card">
    <div class="card-header">
        <img class="img-thumbnail mx-auto d-block" src="../../../assets/console.png" alt="Imagen del producto">
    </div>
    <div class="card-body text-center d-flex flex-column justify-content-between">
        <h6 class="card-title">Nombre del Producto</h6>
        <button class="btn btn-danger align-self-end"><a routerLink="/producto-page-component" routerLinkActive="active" ariaCurrentWhenActive="page">Ver producto</a></button>
    </div>
</div> -->

<!-- Producto en forma de lista cuando está en el carrito -->
<!-- <div class="row">
    <div class="col-2">
        <img src="../../../assets/console.png" alt="Imagen del producto">
    </div>
    <div class="col-5">
        <h5 class="titulo">Nombre del Producto</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint unde non nobis soluta minima sapiente magnam omnis, nesciunt quam adipisci repellat laudantium repudiandae</p>
    </div>
    <div class="col-3">
        <ul class="pagination">
            <li class="page-item active"><a class="page-link"><i class="fa-solid fa-minus"></i></a></li>
            <li class="page-item disabled"><a class="page-link">1</a></li>
            <li class="page-item active"><a class="page-link"><i class="fa-solid fa-plus"></i></a></li>
        </ul>
        <span class="cantidad">Cantidad disponible: X unidades</span>
    </div>
    <div class="col-2 d-flex">
        <h4 class="precio">$$$$</h4>
    </div>
</div> -->