.card-img-top {
    height: 200px;
    object-fit: cover;
}
.card-title {
    font-weight: 700;
    font-size: 1.8rem;
}
.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.precio {
    align-self: center;
    font-size: 1.3rem;
    font-weight: 700;
}