<!-- buscar despues en w3s "accordion" en la categoria de collapse -->
<div>
    <div class="form-inline">
        <h4>Pregunta numero x ?</h4>
        <button data-toggle="collapse" data-target="#answer" class="btn btn-light"><i class="fa-solid fa-chevron-down"></i></button>
    </div>
    <div id="answer" class="collapse">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita distinctio explicabo, nobis omnis cupiditate delectus praesentium deleniti tempora ab libero fugiat molestiae ratione dolor provident necessitatibus ut quo sint suscipit.</p>
    </div>
</div>