.titulo {
    padding: 5rem;
}
app-modal {
    display: none;
    margin-left: 2rem;
}
.anuncios-destacados {
    margin-bottom: 2rem;
}
.banner {
    padding: 0;
}
.container-fluid {
    padding: 0;
}