:root {
    --colorPrincipal: #C61E00; /*Sinopia*/
    --color-hover: #B21B00;
    --color-border: #ff4646;
    --colorSecundario: #FF7D66; /*Salmon*/
    --colorBG: #FFFFFF; /*White*/
    --colorBGSoft: #F5F5F5; 
    --colorExtra: #5CE1E6; /*Electric blue*/
    --fontFamily: 'Montserrat', sans-serif;
}
/*----------------------------------------------------------------*/
* {
    font-family: var(--fontFamily);
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--colorBGSoft);
}
a {
    color: black;
}
a:hover {
    color: var(--colorPrincipal);
}
i {
    background: none;
}
input {
    padding: 20px 20px;
    outline-color: var(--colorPrincipal);
    font-size: 16px;
}

::placeholder {
    color: var(--colorSecundario);
    font-style: italic;
}
h1 {
    font-size: 3rem;
}

.btn-danger {
    background-color: var(--colorPrincipal);
}
.btn-danger:hover {
    background-color: var(--color-hover);
}
.button_modal {
    height: 2rem;
    padding: 0 1rem;
    color: var(--colorBG);
}
.button_modal:hover {
    box-shadow: inset 0px 0px 5px 2px rgb(0, 0, 0, 0.3);
    color: var(--colorBGSoft);
}
.recuadro {
    padding: 20px;
    border: 1px solid var(--colorPrincipal);
    border-radius: 10px;
    background-color: var(--colorBG);
}
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
}
@-webkit-keyframes animatebottom {
    from { bottom: -100px; opacity: 0 }
    to { bottom: 0px; opacity: 1}
    
}
@keyframes animatebottom {
    from { bottom: -100px; opacity: 0 }
    to { bottom: 0px; opacity: 1}
}