:root {
    --colorPrincipal: #DD2200; /*Sinopia*/
    --color-hover: #C50202;
    --color-border: #ff4646;
    --colorSecundario: #FF7D66; /*Salmon*/
    --colorBG: #FFFFFF; /*White*/
    --colorBGSoft: #F5F5F5; 
    --colorExtra: #5CE1E6; /*Electric blue*/
}
/*----------------------------------------------------------------*/
* {
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: var(--colorBGSoft);
}
i {
    background: none;
}
input {
    padding: 20px 20px;
    outline-color: var(--colorPrincipal);
    font-size: 16px;
}

::placeholder {
    color: var(--colorSecundario);
    font-style: italic;
}
h1 {
    font-size: 3rem;
}

.btn-danger {
    background-color: var(--colorPrincipal);
}
.btn-danger:hover {
    background-color: var(--color-hover);
}
.recuadro {
    padding: 20px;
    border: 1px solid var(--colorPrincipal);
    border-radius: 10px;
    background-color: var(--colorBG);
}