/*
    #DD2200 - "Sinopia" - Principal
    #FF7D66 - "Salmon" - Principal(mas claro)
    #F5F5F5 - BG
    #5CE1E6 - Otros
*/
.btn-danger {
    background-color: #DD2200 !important;
}
.btn-danger:hover {
    background-color: #C50202 !important;
}
input {
    border-color: #DD2200 !important;
}
::placeholder {
    color: #FF7D66 !important;
    font-style: italic;
}
i {
    background: none;
}