<!-- <app-carrousel></app-carrousel> --> <!-- falta agregar imagenes de banners, pero es funcional-->
<section class="container-fluid">
    <div class="row">
        <div class="col-12 banner">
            <app-carrousel></app-carrousel>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="titulo">Ultimos productos</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row"> <!-- aplica un for -->
                <div class="col-2"><app-latest-product></app-latest-product></div>
                <div class="col-12 d-flex justify-content-center">
                    <app-pagination></app-pagination>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="titulo">Anuncios destacados</h2>
        </div>
    </div>
    <div class="row anuncios-destacados"> <!-- aplica un for -->
        <div class="col-2">
            <app-latest-announcement></app-latest-announcement>
        </div>
    </div>
</section>