.button{
    margin-left: 1rem;
}
p {
    margin: 0;
}
.-cancel {
    background-color: red;
    color: white;
}
.-add {
    background-color: blue;
    color: white;
}
.-edit {
    background-color: green;
    color: white;
}