.button{
    margin-left: 1rem;
}
p {
    margin: 0;
}
.-cancel {
    border-color: red;
    border-width: 4px;
    font-weight: 600;
    color: red;
}
.-add {
    border-color: blue;
    border-width: 4px;
    font-weight: 600;
    color: blue;
}
.-edit {
    border-color: green;
    border-width: 4px;
    font-weight: 600;
    color: green;
}